<section>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container">
			<a class="navbar-brand  font-weight-bold" href=""> <span class="text-success ">MyProtfolio</span></a>
             <button aria-controls="navbarSupportedContent10" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent10" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent10">
				<ul class="navbar-nav mx-auto my-2 my-lg-0">
					<li class="nav-item d-flex align-items-center me-4">
						<a class="nav-link" routerLinkActive="active" routerLink="/" ><i class='bx bx-home'></i> Home</a>
					</li>
                    <li class="nav-item d-flex align-items-center me-4">
                        <a class="nav-link" routerLinkActive="active"  routerLink="/about"><i class='bx bxs-info-square'></i> About</a>
                    </li>
                    <li class="nav-item d-flex align-items-center me-4">
                        <a class="nav-link" routerLinkActive="active"  routerLink="/projets" ><i class='bx bxs-network-chart'></i> Projets</a>
                    </li>
                    <li class="nav-item d-flex align-items-center me-4">
						<a class="nav-link" routerLinkActive="active"  routerLink="/contact" ><i class='bx bxs-contact'></i> Contact</a>
					</li>
					
				</ul>
				<label class="switch "> 
					<input type="checkbox">
					<span class="slider"></span>
				  </label>
				  <i class='bx bxs-sun'></i>

			</div>
		</div>
	</nav>
</section>