<section class="bg-light-subtle">
  <h2 class="text-center section-title mb-4 line text-light pt-1">Projects</h2>

    <div class="row gap-5 justify-content-center m-0">
        <div class="card col-sm-6 col-md-4 col-lg-3">
            <div class="bg"><img src="https://picsum.photos/200/300" style="height: fit-content; width:fit-content;" alt=""></div>
            <div class="blobblue"></div>
          </div>

          <div class="card col-sm-6 col-md-4 col-lg-3">
            <div class="bg"><img src="https://picsum.photos/200/300" style="height: fit-content; width:fit-content;" alt=""></div>
            <div class="blob"></div>
          </div>
          <div class="card col-sm-6 col-md-4 col-lg-3">
            <div class="bg"><img src="https://picsum.photos/200/300" style="height: fit-content; width:fit-content;" alt=""></div>
            <div class="blobblack"></div>
          </div>


          <div class="card col-sm-6 col-md-4 col-lg-3">
            <div class="bg"> <img src="https://picsum.photos/200/300" style="height: fit-content; width:fit-content;" alt=""></div>
            <div class="blobgreen"></div>
          </div>
    </div>
    
</section>