<section id="projets" class="bg-light-subtle ">
  <h2 class="text-center section-title mb-4 line text-dark pt-3">Projects</h2>

    <div class="row gap-5 justify-content-center m-0 mb-5 mt-5">
        <div class="card col-sm-6 col-md-5 col-lg-5">
            <div class="bg">
              <img src="assets/images/contact.png" style="height: fit-content; width:100%; object-fit: contain;" alt="">
              <div class="about position-absolute  w-100 bg-body-secondary opacity-50">
              </div>
              <div class="about position-absolute  top-25  w-100  ">
              
                <h5 class="text-secondary text-center mt-3 ">Contact </h5>
                <p class="text-secondary-emphasis text-center">La gestion des Contact  </p>
                <button class="btn btn-dark text-light view">
                  <i class='bx bx-show bx-burst bx-rotate-180' ></i> <a target="_blank" class="text-light "  href="https://github.com/mohamed-iaazi/Contact-management-"> View The project</a>  
                </button>
              </div>

             
            </div>
            <div class="blobblue"></div>
          </div>

          <div class="card col-sm-6 col-md-5 col-lg-5">
            <div class="bg">
              <img src="https://media.licdn.com/dms/image/v2/D4D22AQEypbkGEbEajQ/feedshare-shrink_2048_1536/B4DZVcOQsvG8Ao-/0/1741009000577?e=1747267200&v=beta&t=qIHVZWvrV54T-obG4bY9Wlob_nDg5t2hcVcISi0K8wQ" style="height: fit-content; width: 100%; object-fit: contain;" alt="">
              <div class="about position-absolute  w-100 bg-body-secondary opacity-50">
              </div>
              <div class="about position-absolute  top-25  w-100  ">
              
                <h5 class="text-secondary text-center mt-3 ">Doctor Rv</h5>
                <p class="text-secondary-emphasis text-center">La gestion du Rendey Vous  </p>
                <button class="btn btn-dark text-light view">
                  <i class='bx bx-show bx-burst bx-rotate-180' ></i> <a target="_blank" class="text-light "  href="https://github.com/mohamed-iaazi/MediCare"> View The project</a>  
                </button>
              </div>
            </div>
            <div class="blob"></div>
          </div>
          <div class="card col-sm-6 col-md-5 col-lg-5">
            <div class="bg">
              <img src="https://media.licdn.com/dms/image/v2/D4D22AQG_4HQshtDbVg/feedshare-shrink_2048_1536/B4DZWKmqc3HIAw-/0/1741787146700?e=1747267200&v=beta&t=jAzzO5RzIokoADgsYt7CjUyivpnGZ2KnwF9d7dlXGmQ" style="height: fit-content; width:100%; object-fit: contain;" alt="">
              <div class="about position-absolute  w-100 bg-body-secondary opacity-50">
              </div>
              <div class="about position-absolute  top-25  w-100  ">
              
                <h5 class="text-secondary text-center mt-3 ">Job Connect </h5>
                <p class="text-secondary-emphasis text-center">platform comme indeed  </p>
                <button class="btn btn-dark text-light view">
                  <i class='bx bx-show bx-burst bx-rotate-180' ></i> <a target="_blank" class="text-light "  href="https://github.com/mohamed-iaazi/JobConnect"> View The project</a>  
                </button>
              </div>
            </div>
            <div class="blobblack"></div>
          </div>


          <div class="card col-sm-6 col-md-5 col-lg-5 ">
            <div class="bg">
               <img src="assets/images/focus.png" style="height: fit-content; width:100%; object-fit: contain;" alt="">
               <div class="about position-absolute  w-100 bg-body-secondary opacity-50">
              </div>
              <div class="about position-absolute  top-25  w-100  ">
              
                <h5 class="text-secondary text-center mt-3 ">Be Focus</h5>
                <p class="text-secondary-emphasis text-center">La gestion du temps et des tâches </p>
                <button class="btn btn-dark text-light view">
                  <i class='bx bx-show bx-burst bx-rotate-180' ></i> <a target="_blank" class="text-light "  href="https://github.com/mohamed-iaazi/BeFocused-app"> View The project</a>  
                </button>
              </div>
              </div>
            <div class="blobgreen"></div>
          </div>
    </div>
    
</section>


