<!-- Contact Section -->
<section class="py-5 bg-light-subtle   " id="contact">
 
      <h2 class="text-center section-title mb-5  text-dark pt-2">Contact Me</h2>
      <div class="card ms-auto me-auto d-block">
        <form class="form">
          <div class="group">
          <input placeholder="‎" type="text" required="">
          <label for="name">Name</label>
          </div>
      <div class="group">
          <input placeholder="‎" type="email" id="email" name="email" required="">
          <label for="email">Email</label>
          </div>
      <div class="group">
          <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
          <label for="comment">Comment</label>
      </div>
          <button type="submit">Submit</button>
        </form>
      </div>
      
   
  </section>