<section id="home" class="Home pt-5">


   
        <div class="infos text-light text-center pt-2 ">

            <img style="width: 150px; height: 150px;" src="https://media.licdn.com/dms/image/v2/D4D03AQGpxE6hkJkqfA/profile-displayphoto-shrink_400_400/B4DZNZv4e1HgAg-/0/1732377545219?e=1749686400&v=beta&t=By_yDaQ4CtC980U8XLGIcuslAUNYdgTGUejNs6-kMIk" class="rounded-circle" alt="...">
            <h6 class="subtitle  ms-auto me-auto mt-5">hello,I'm</h6>
            <h6 class="title  ms-auto me-auto">Mohamed Iaazi</h6>
            <p>Full Stack </p>

            <div class="buttons pt-5 mt-5 d-flex flex-wrap justify-content-center gap-2 ">
                <button class="btn btn-secondary rounded"> <i class='bx bxl-github bx-spin' ></i> <a href="https://github.com/mohamed-iaazi">Github</a></button>
                <button class="btn btn-primary rounded ms-2"> <i class='bx bxl-linkedin-square bx-tada bx-rotate-90' ></i> <a href="https://www.linkedin.com/in/mohamed-iaaz-dev/">Linkdin</a></button>
                <form method="get" action="assets/Mohamed-Iaazi-cv.pdf">
                <button class=" btn btn-success rounded ms-2  "> <i class='bx bx-download bx-fade-up' ></i> <a></a> DOWNLOAD CV </button>
            </form>

            </div>       
        </div>              


</section>