<section class="Home pt-5">


   
        <div class="infos text-light text-center pt-2 ">

            <img src="https://picsum.photos/200/200" class="rounded-circle" alt="...">
            <h6 class="subtitle  ms-auto me-auto mt-5">hello,I'm</h6>
            <h6 class="title  ms-auto me-auto">Mohamed Iaazi</h6>
            <p>Full Stack </p>

            <div class="buttons pt-5 mt-5 d-flex flex-wrap justify-content-center gap-2 ">
                <button class="btn btn-secondary rounded">HIRE ME</button>
                <button class="btn btn-primary rounded ms-2"> <i class='bx bxl-linkedin-square bx-tada bx-rotate-90' ></i>Linkdin</button>
                <button class=" btn btn-success rounded ms-2  "> <i class='bx bx-download bx-fade-up' ></i> DOWNLOAD CV </button>
            </div>       
        </div>              


</section>