<section class="Home pt-5">


   
        <div class="infos text-light text-center pt-5 ">
            <h6 class="subtitle  ms-auto me-auto mt-5">hello,I'm</h6>
            <h6 class="title  ms-auto me-auto">Mohamed Iaazi</h6>
            <p>Full Stack </p>

            <div class="buttons pt-5 mt-5">
                <button class="btn btn-primary rounded">HIRE ME</button>
                <button class=" btn btn-success rounded ms-2  ">DOWNLOAD CV <i class='bx bx-download'></i></button>
            </div>      

          
        </div>              


</section>